.content-container {
  display: flex;
  height:100%;
  width:100%;
}

.side-panel {
  width: 100%;
  overflow-x:visible;
  overflow-y: scroll;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  border-right: groove;
  padding:10px;
}

.side-panel::-webkit-scrollbar {
  display:none;
}

/*side-panel toggle */
.side-panel-toggle{
  width:30px;
  height:50px;
  flex-shrink:0;
  text-align: center;
  color:black;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  place-self:center;
  z-index: 10;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px lightgrey;
}

.side-panel-toggle  > span {
  margin-left: -4px;
  margin-top: 3px;
}

button:hover, button:focus {
  outline: none;
}

/* hover on the toggle */
.side-panel-toggle:hover{
  background-color: cornflowerblue;
}

.side-panel-toggle {
  position:relative;
  margin-left: 100%;
}

.side-panel-toggle.show {
  /* position: absolute; */
  /* left:0; */
  /* left:0; */
  position:relative;
  z-index: 99;
  bottom: 70%;
}

.side-panel-hide {
  width: 0px;
}

.side-panel-toggle.hide {
  top:30%;
}

.side-panel-show {
width:25%;
min-width: 300px;
}