.intoduction h1 {
  padding: 30px 10px 10px 10px;
  text-align: center;
}




.mainAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-bottom: 10%;


}

@media only screen and (max-width: 1000px) {
  .info {
    display: flex;
    flex-direction: column;
  
  }

 .mainAbout {
   overflow-y: scroll;
 }
   
}

.info {
display: flex;
margin: 5px;

}
.description {
  text-align: center;
  padding: 1% 18%;
  font-size: 15px;

}

.description a {
  color: black;
}
