
.mainInfo ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    color:aliceblue;
    line-height: 10px;
  }

.personalImage  {
    padding-top: 10px;


}

.mainContainer {
   
    border-radius: 30%;
    /* taken from: https://getcssscan.com/css-box-shadow-examples */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.mainInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 260px;
    height: 400px;
    background-color: #B8ABA5;
    border-radius: 15px;

}



li{
    line-height: 40px;
}

.name {
    font-weight: 800;
}

.title {
    font-style: italic;
}



/*
.contact-btn {
    
      border: 1px solid #0000001a;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;
     background-color: #9D8CA1;

    }
    
   */


    @media only screen and (max-width: 1200px) {
        
     .mainInfo {
          
            width: 320px;
            height: 140px;   
        display: flex;
        flex-direction: row;

        }

.personalImage  {
    width: 88px;
    height: 90px;
    float: right;
    padding-left: 10px;
}


.text li   {
   
font-size: 14px;
line-height: 25px;

}


.text {
    margin-top: 22px;
}

    }
    
/*
        .personalImage{
          display: none;
        }
        
        .mobileApp {
          display: flex;

        }
     
      .contact-btn {
          display: none;
         
    
      }

      .hiddenforMobile{
display: none;

      }
*/
     

    
  