.main-container {
  display: flex;
  height:100%;
  width:100%;
}

.main {
  height:100%;
  width:100%;
}

.sidebar {
  background: rgb(0, 120, 170);
  color: white;
  /* height: calc(100vh - 1.6cm); */
  height:100%;
}

.routes {
 color: white;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  font-size: 15px;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  font-size: 15px;
  padding:10px 10px;  
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-right: 4px solid rgb(243, 120, 120);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(234, 246, 246);
}

a {
  text-decoration: none;
}

.link_text {
  white-space: nowrap;
}