nav {
  margin-bottom: 2px;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background-color: #FFE882;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.weather {
  display: flex;
}

.sevenAm h1 {
  color: #271033;
  padding: 2%;
}