#navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE882;
  padding: 0 10px 0 10px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}


.site-title {
  color: #271033;
  font-size: 40px;
  font-weight: 500;
}

