.weather-card {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0.5rem;
    font-size: 70%;
}

.weather-icon {
    padding: 0;
    margin: 0;
}

.weather-icon img {
    height: auto;
    width: 8vw;
}

.weather-text {
    padding: 0;
    margin: 0;
    font-size:80%;
}

