@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.favourite-card {

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-width: 0.5px;
    border-color: black;
    margin: 10px;

    border-radius: 3px;
    padding: 5px;

    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 251, 252)
}

.remove-icon {
    font-size: 40px;
}

.locations {
    padding: 10px;
}

.direct-icon {
    font-size: 30px;
}