.window-container {
  margin-top: 0;
}

.window-container > div {
  margin-top:10px;
}

.journey-input {
  margin-left: 10px;
}

.date-selector {
  margin-left: 10px;
}

.origin-input {
  width:98%;
  height: 3em;
  /* transition: 0.3s all; */
  border-color: rgb(197,197,197);
  border-radius: 5px;
  border-style:solid;
  border-width: 1px;
}

.origin-input:hover{
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.des-input {
  width: 98%;
  height: 3em;
  border-color: rgb(197,197,197);
  border-radius: 5px;
  border-style:solid;
  border-width: 1px;
}

.des-input:hover{
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.journey-submit {
  width: 98%;
  display: flex;
  justify-content:space-evenly;
}

.journey-submit > button {
  width:fit-content;
  height: 2.5em;
}

.MuiFormControl-root {
  width:95%;
}



#direction-steps {
  overflow:scroll;
  height: calc(100vh - 325px - 1.6cm);

  width:95%;
  justify-content: center;
  align-items: center;
  margin:auto;

}

#direction-steps:empty {
  display: none;
}

#direction-steps > div{
  display: none;
}

#direction-steps > div:first-child{
  display:block;
}

#direction-steps > div:first-child {
  display:block;
}

#direction-steps > div:nth-child(2) {
  display: block;
}

.favourites {
  padding: 10px;
}



