h1 {
  padding: 10px;
  text-align: center;
}


p {
  text-align: center;
  font-size: 12px;

}



.mainAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.info {
display: flex;
margin: 5px;

}

