.allroutesmap-container {
  display: flex;
}

.side-panel {
  width: 300px;
  height: calc(100vh - 2cm);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-right: groove;
}

.route_number_input{
  margin-top: 15px;
}

.route_des_input {
  margin-top: 15px;
}

.submit-button{
  margin-top: 15px;
}

.MuiList-root{
  max-height: 5cm;
}