/* .allroutesmap-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* .side-panel {
  width: 300px;
  height: calc(100vh - 2cm);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-right: groove;
}


.route_number_input{
  margin-top: 15px;
}

.route_des_input {
  margin-top: 15px;
}

.submit-button{
  margin-top: 15px;
}

.MuiList-root{
  max-height: 5cm;
}

.side-panel-toggle {
  position:relative;
  margin-left: 100%;
}

.side-panel-toggle.hide {
  top:10%;
}

.side-panel-toggle.show {
  position: relative;
  bottom:50%;
}

.side-panel-hide {
  width: 0px;
  margin-top: 30%;
} */